@import '../_helpers/variables';
@import '../_helpers/mixins';

@keyframes loadingIconSpinnerAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

.loadingIcon {
  animation: loadingIconSpinnerAnimation 700ms infinite linear;
}

.loadingIcon_isSecondary {
  color: $darkOrange_500;
}